body{
	margin: 0;
	font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
	overflow: auto;
	background: #fefdfd;
    /*background: #999;*/
    min-width: 1100px;
}
li{
	list-style: none;
}
ul{
	padding: 0;
	margin:0;
}
h1,h2,h3,h4,h5{
	margin: 0;
	font-weight: 100;
}
i,em{
	font-style: normal;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}
a:hover{
	color: #ff8989;
}
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
/*img{
	border-radius:4px;
}*/
dl{
	margin: 0;
}
dd{
	margin: 0;
}
strong{
	font-weight: 100;
}
table{
	border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}

/*文本*/
.f-fs12{
	font-size: 12px;
}
.f-fs14{
	font-size: 14px;
}
.f-fs16{
	font-size: 16px;
}
.f-fs18{
	font-size: 18px;
}
.f-fs20{
	font-size: 20px;
}
.f-fs22{
	font-size: 22px;
}
.f-fs24{
	font-size: 24px;
}
.f-fs26{
	font-size: 26px;
}
.f-fs28{
	font-size: 28px;
}
.f-fs30{
	font-size: 30px;
}
.f-fs32{
	font-size: 32px;
}
.f-fs34{
	font-size: 34px;
}
.f-fs36{
	font-size: 36px;
}
.f-fs38{
	font-size: 38px;
}
.f-fs40{
	font-size: 40px;
}
.f-fwb{
	font-weight: bold;
}
.f-fw100{
	font-weight: 100;
}
.f-tac{
	text-align: center;
}
.f-tal{
	text-align: left;
}
.f-tar{
	text-align: right;
}
.f-taj{
	text-align: justify;
}
.f-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.f-fc3{
	color: #333;
}
.f-fc6{
	color: #666;
}
.f-fc9{
	color: #999;
}
.f-fcc{
	color: #ccc;
}
.f-fcf{
	color: #fff;
}
.f-fce{
	color: #eee;
}
.f-fcd{
	color: #ddd;
}
.f-fcb{
	color: #bbb;
}
.f-fca{
	color: #aaa;
}
.f-fcblue{
	color:#00b7ee;
}
.f-fcred{
	color:#e22815;
}
.f-fccommon{
	color: #ff6567;
}
.f-fcerror{
	color: #f00;
}
/*位置*/
.f-pos-r{
	position: relative;
}
.f-pos-a{
	position: absolute;
}
.f-pos-f{
	position: fixed;
}
.f-dn{
	display: none;
}
.f-db{
	display: block;
}
.f-dib{
	display: inline-block;
}
.f-fr {
    float: right;
}
.f-fl {
    float: left;
}
.f-cf {
    zoom: 1;
}
/*layout*/
.g-wrap{
	width: 1100px;
	margin: 0 auto;
}
.f-min-h{
	min-height:550px;
}



.f-bookName-bar{
	width: 100%;
	height: 35px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
}
.clearfix:after {

content: ".";

display: block;

height: 0;

clear: both;

visibility: hidden;

}

/* Hides from IE-mac \*/

* html .clearfix {height: 1%;}

